@model Pet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/stylesheet.css">
    <title>DojoDachi</title>
</head>
<body>
    
    <div class="container mt-5">
        <h4 class="mt-5 text-center">Your DojoDachi <i class="fas fa-paw"></i></h4>
        <hr>
        <div class="row mt-5">
            <div class="col-4 mr-3 bg-light rounded-right border border-warning">
                <div class="mt-3">
                    <h6>Energy:  <i class="fas fa-bolt"></i> <span class="energy">@Model.energy</span></h6>

                    <h6>Fullness: <i class="fas fa-battery-half"></i><span class="fullness">  @Model.fullness</span></h6>
                    <h6>Happiness: <span class="happiness"><i class="far fa-meh-blank"></i>  @Model.happiness</span></h6>

                    <h6>Meal: <i class="fas fa-utensils"></i> <span class="meal"> @Model.meals</span></h6>
                </div>
                <hr>
                
                <div class="petExpression">
                    <div id="NeutralPet" class="ml-5 mb-4"></div>
                </div>
                <div class="WinOrDieTag">
                    
                </div>

                <h6 class="ml2">Outcomes:</h6>
                <p class="mt-4 font-weight-light text"></p>

            </div>
            <div class="col-6 bg-light rounded-left border border-primary">
                <h4 class="mt-3 font-weight-light text-center">Activities Available for your Dojodachi</h4>
                <hr>
                <div class="text-right">
                    <a href="restart"><i class="fas fa-undo"></i></a>
                </div>
                <div class="mt-2 text-center activities col-7">
                    <a href="play" class="mb-4 btn btn-primary p-3 shadow activity">Play <i class="fas fa-football-ball"></i></a>
                    <a href="feed" class="mb-4 btn btn-success p-3 shadow activity">Feed <i class="fas fa-cookie-bite"></i></a>
                    <a href="work" class="mb-4 btn btn-warning p-3 text-light shadow activity">Work <i class="fas fa-suitcase"></i></a>
                    <a href="sleep" class="mb-4 btn btn-secondary p-3  shadow activity">Sleep <i class="fas fa-bed"></i></a>
                    <a href="restart" class="btn btn-outline-success btn-3 shadow restart" > Restart <i class="fas fa-undo"></i></a>
                    

                </div>
            </div>
        </div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

    <script>
        

    $.ajax({
        method:"GET",
        url:"petStatus",
        success:function(response){
            console.log(response);
            if (response==null) {
                $(".activities .restart").hide();
                $(".activities .activity").show();
                console.log("activity show");

            }
            else{
                console.log("restart show");
               $(".activities .restart").show(); 
               $(".activities .activity").hide();
            }
        }
    })

    $(".activities .activity").click(function(e){
        e.preventDefault();
        $.ajax({
            method:"GET",
            url:$(this).attr("href"),
            success:function(response){
                $(".energy").html(response["energy"]);
                $(".text").html(response["text"]);
                $(".fullness").html(response["fullness"]);
                $(".meal").html(response["meal"]);
                console.log(response["petHandler"])
                //checking whether to make the buttons disappear or not..
                if (response["petHandler"]!=null) {
                    $(".activities .activity").hide();
                    $(".activities .restart").show();
                }
                else
                {
                    $(".activities .activity").show();
                    $(".activities .restart").hide();
                }


                if (response["happiness"]>=90 && response["fullness"]>=90 && response["energy"]>=90) {
                    $(".happiness").html("<i class='fas fa-kiss-wink-heart'></i> "+ response["happiness"]); 
                    $(".petExpression").html(" <div id='ExcitedPet' class='ml-5  mb-4'></div>")
                    $(".WinOrDieTag").html("<h6 class='tag bg-success text-light p-3 text-center shadow'>YOU WON</h6>")   
                }
                else if (response["happiness"]<=0 || response["fullness"]<=0) {
                    $(".happiness").html("<i class='fas fa-dizzy'></i> "+ response["happiness"]);
                    $(".petExpression").html(" <div id='DeadPet' class='ml-5  mb-4'></div>")  
                    $(".WinOrDieTag").html("<h6 class='tag bg-danger text-light p-3 text-center shadow'>DEAD</h6>")                  
                }
                else if (response["happiness"]>=1 && response["happiness"]<=14) {
                    $(".happiness").html("<i class='far fa-sad-tear'></i> "+ response["happiness"]); 
                    $(".petExpression").html(" <div id='ShockedPet' class='ml-5  mb-4'></div>")                   
                }
                else if (response["happiness"]>=15 && response["happiness"]<=29) {
                    $(".happiness").html("<i class='far fa-meh-blank'></i> "+ response["happiness"]);
                    if (response["fullness"]<5) {
                        $(".petExpression").html(" <div id='CryingPet' class='ml-5  mb-4'></div>")
                    }
                    else{
                        $(".petExpression").html(" <div id='NeutralPet' class='ml-5  mb-4'></div>")
                    }
                                        
                }
                else if (response["happiness"]>=30 && response["happiness"]<=59) {
                    $(".happiness").html("<i class='far fa-smile'></i> "+ response["happiness"]);
                    if (response["fullness"]<10) {
                        $(".petExpression").html(" <div id='CryingPet' class='ml-5  mb-4'></div>")
                    }
                    else{
                        $(".petExpression").html(" <div id='HappyPet' class='ml-5  mb-4'></div>") 
                    }               
                }
                else if (response["happiness"]>=60) {
                    $(".happiness").html("<i class='fas fa-laugh'></i> "+ response["happiness"]);    
                    $(".petExpression").html(" <div id='HappyPet' class='ml-5  mb-4'></div>")                
                }
                
               
            }
        })
    })
    
    </script>

</body>
</html>